@import "funciones.scss";
@import "variables.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.nav{
    grid-area: bar_nav;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    //background-color: white;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 20px $sombra;
    height: 80px;
    z-index: 1;
    @include paddingLR(150px);
    h1{
        p{
            display: inline;
            font-size: 24px;
        }
    }

}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;
}
.btn{
    @include sizesWH(150px, 50px);
    background-color: $color_4;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    &-secundary{
        background: none;
        border: 2px solid $color_4;
        color: black;
        transition: all 500ms;
        &:hover{
            background-color: #f44336;
            border: none;
            color: white;
        }
    }
    &-aprobar{
        background-color: #4CAF50;
    }
    &-reprobar{
        background-color: #f44336;
    }
}
.box-info{
    display: grid;
    grid-template-areas:"boxInfoImg"
                        "boxInfoTitle"
                        "boxInfoP";
    grid-template-columns: 250px;
    grid-template-rows: 150px 25px 100px;
    align-items: center;
    justify-items: center;
    //border-radius: 15px;
    //box-shadow: 0 0 20px $sombra;
    img{
        grid-area: boxInfoImg;
    }
    h3{
        grid-area: boxInfoTitle;
    }
    p{
        grid-area: boxInfoP;
        text-align: center;
    }
}
.modal{
    @include sizesWH(100vw, 100vh);
    background-color: rgba(0, 0, 0, 0.404);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    &-info{
        @include sizesWH (500px, 350px);
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(5px);
        border-radius: 15px;
        box-shadow: 0 0 20px $sombra;
        padding: 50px;
        &-advertenciaGrave{
            display: grid;
            grid-template-areas:"modalImg"
                                "modalTitle"
                                "modalInfo";
            align-items: center;
            justify-items: center;
            grid-template-columns: 100%;            
        }
        &-advertencia{
            display: grid;
            grid-template-areas:"modalImg"
                                "modalTitle"
                                "modalInfo"
                                "modalBtn";
            align-items: center;
            justify-items: center;
            grid-template-columns: 100%;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        span{
            font-weight: bold;
        }
        p{
            text-align: center;
        }
    }
    
}
