.container-index{
    &-info{
        height: 300px;
        @include paddingLR(150px);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}
.banner-inicio{
    height: 500px;
    background-image: url("../images/img_inscripcion.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    &-info{
        color: white;
        @include sizesWH(100%, 100%);
        @include paddingLR(150px);
        background-color: $sombra_2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1{
        font-size: 48px;
    }
}
.banner-inscripcion{
    height: 500px;
    background-image: url("../images/banner_inscripcion.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    &-info{
        color: white;
        @include sizesWH(100%, 100%);
        @include paddingLR(150px);
        background: linear-gradient(90deg,$color_5, $sombra_2);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.banner-examen{
    height: 500px;
    background-image: url("../images/img_examen.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    &-info{
        color: white;
        @include sizesWH(100%, 100%);
        @include paddingLR(150px);
        background: linear-gradient(270deg,$color_5, $sombra_2);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.banner-administracion{
    height: 500px;
    background-image: url("../images/img_administracion.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    &-info{
        color: white;
        @include sizesWH(100%, 100%);
        @include paddingLR(150px);
        background: linear-gradient(90deg,$color_5, $sombra_2);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
